<ion-header >
  <ion-toolbar class="head">
    <ion-img class="logo_photo" src="../../assets/logo_tr.png" routerLink="/"></ion-img>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>写真撮影</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    ビーコン{{photo_num}}番のヒント写真の撮影です。<br>
    {{photo_description}}<br>
    最後の撮影した写真がヒントに登録されます。
  </div>
  <img [src]="currentImage" *ngIf="currentImage">

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
