.button_wrapper {
  text-align: center;

}
table {
  margin :20px;
}
form{
  padding: 5px;
}
#load{
  font-size:  1.2em;
  font-size: bold;

  padding: 5px 15px;

  background-color: #d3d3d3;

  border: solid;
  border-color: #7a9d96;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin: 2px;
}


#forrest{
  font-size:  1.2em;
  font-size: bold;

  padding: 5px 15px;

  background-color: #00fa9a;

  border: solid;
  border-color: #7a9d96;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin: 2px;
}

#water{
  font-size:  1.2em;
  font-size: bold;

  padding: 5px 15px;

  background-color: #00bfff;

  border: solid;
  border-color: #7a9d96;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin: 2px;
}

#eraser{
  font-size:  1.2em;
  font-size: bold;

  padding: 5px 15px;

  background-color: #d3d3d3;

  border: solid;
  border-color: #7a9d96;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin: 2px;
}

#beacon1{
  font-size: 0.8em;
  font-size: bold;

  width: 93px;
  height: 30px;

  background-color: #deb887;

  border: solid;
  border-color: #7a9d96;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin: 2px;
}
#beacon2{
  font-size:  0.8em;
  font-size: bold;

  width: 93px;
  height: 30px;

  background-color: #ff8c00;

  border: solid;
  border-color: #7a9d96;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin: 2px;
}
#beacon3{
  font-size:  0.8em;
  font-size: bold;

  width: 93px;
  height: 30px;

  background-color: #ffff00;

  border: solid;
  border-color: #7a9d96;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin: 2px;
}

#photo1{
  font-size:  1.2em;
  font-size: bold;

  width: 93px;
  height: 30px;

  background-color: #deb887;

  border: solid;
  border-color: #7a9d96;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin: 2px;
}
#photo2{
  font-size:  1.2em;
  font-size: bold;

  width: 93px;
  height: 30px;

  background-color: #ff8c00;

  border: solid;
  border-color: #7a9d96;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin: 2px;
}
#photo3{
  font-size:  1.2em;
  font-size: bold;

  width: 93px;
  height: 30px;

  background-color: #ffff00;

  border: solid;
  border-color: #7a9d96;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin: 2px;
}

#map-regist-button{
  font-size:  1.2em;
  font-size: bold;

  padding: 5px 12px;

  background-color: #cae4db;

  border: solid;
  border-color: #7a9d96;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin: 5px;
}

#qr{
  font-size:  1.2em;
  font-size: bold;

  padding: 5px 12px;

  background-color: #cae4db;

  border: solid;
  border-color: #7a9d96;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin: 5px;
}
