<ion-header>
  <ion-toolbar class="head">
    <ion-img class="logo" src="../../assets/logo_tr.png" routerLink="/"></ion-img>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>冒険ページ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="remaining_time">
  <div id="remaining_time1" (click)="getTime()">
    更新>残り時間
  </div>
  <div id = "remaining_time2">
    {{remaining_hour}}時間 {{remaining_min}}分 {{remaining_sec}}秒
  </div>
  </div>
  <table border="1" class="map">
    <tr *ngFor="let r of mapNum">
      <td *ngFor="let d of mapNum">
        <div [class]="mapCla[(r*16)+d]" [id]="'id:'+r+':'+d" (click)="onBeacon($event)">{{beaNum[(r*16)+d]}}</div>
      </td>
    </tr>
  </table>
  <div class="treasure_hint">
  <div id="treasure" (click)="onBLE()">トレジャーボタン</div>
  <!-- 補間使って切り替えられるようにする -->
  <div id="hint" (click)="onHint()">{{hint_button}}</div>
  </div>
  <div id="treasure-description">{{treasure_description}}</div>
  <div></div>

  <div id="bottom-title">{{bottom_title}}</div>
  <div id="bottom-frame">
    <div id="bingo" *ngIf="bottom_bingo">
      <tr *ngFor="let r of bingo_num">
        <td *ngFor="let d of bingo_num">
          <div *ngIf="!bingo_status[r*3+d]" class="bingo_cell" (click)="onBingo($event)">
            <ion-img [class]="bingoCla[r*3+d]" [id]="'b_id:'+r+':'+d" [src]="'../../assets/before'+(r+1)+'-'+(d+1)+'.png'"></ion-img>
          </div>
          <div *ngIf="bingo_status[r*3+d]" class="bingo_cell" (click)="onBingo($event)">
            <ion-img [class]="bingoCla[r*3+d]" [id]="'b_id:'+r+':'+d" [src]="'../../assets/after'+(r+1)+'-'+(d+1)+'.png'"></ion-img>
          </div>
        </td>
      </tr>
    </div>
    <div id="photo" *ngIf="bottom_photo">
      <img class="hint-image" id="hint1" [src]="image1" *ngIf="image1Flag">
      <img class="hint-image" id="hint2" [src]="image2" *ngIf="image2Flag">
      <img class="hint-image" id="hint3" [src]="image3" *ngIf="image3Flag">
    </div>
  </div>
  <!-- <div id="bingo-description" *ngIf="bingo_description">
    <div id="bingo-open" *ngFor="let b of bingo_num">No.{{bingo[b]}}</div>
  </div> -->

  <div id="finish" (click)="navigateToScore()">冒険を終了する</div>

</ion-content>
