#voucher-title{
  margin: auto;
  text-align: center;
  font-size: 1.8em;
}
#to-home{
  margin: auto;
  text-align: center;
  font-size: 1.2em;
}
#voucher-table{
  text-align: center;
  font-size:  2.2em;
  font-size: bold;
  padding: 10px 30px;
  background-color: #FFFFFF;
  border: solid;
  border-color: #FFFFFF;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  width: 80%;
  margin: auto;
}
#to-home-button{
  margin: auto;
  font-size:  1.2em;
  font-size: bold;
  padding: 10px 30px;
  background-color: #CAE4DB;
  border: solid;
  border-color: #7A9D96;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
