<ion-header >
  <ion-toolbar class="head">
    <ion-img class="logo" src="../../assets/logo_tr.png"></ion-img>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>トップページ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <!-- ここにトップページの画像を載せる. 画像はassetの中に -->
  <!-- <ion-img src="../../assets/top_forrest.jpg"></ion-img> -->
  <form class="ion-padding" (submit)="navigateToDungeon()">
    <label for="camp-id" id="id-label">キャンプ場名を入力: </label>
    <input type="text" id="camp-id" [(ngModel)]="id" name="id">
    <button id="dungeon" type="submit">キャンプ場検索</button>
  </form>
  <form class="ion-padding" (submit)="navigateToVoucher()">
    <button id="voucher" type="submit">獲得クーポン</button>
  </form>
  <form class="ion-padding" (submit)="navigateToLogin()">
    <button id="owner" type="submit">管理者用ログイン</button>
  </form>
</ion-content>
